# /etc/default/atop
# see man atoprc for more possibilities to configure atop execution

LOGOPTS={{ atop_log_opts }}
LOGINTERVAL={{ atop_interval }}
LOGGENERATIONS={{ atop_logs_keep_last_days }}
LOGPATH=/var/log/atop

